/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, 
body {
    height: 100%;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-select-arrow {
    color: #DE4B4B;
}